<div class="container">

  <div style="margin: 20px">
  <button class="btn btn-primary" (click)="createUser()">New User</button>
  &nbsp;&nbsp;
    <input type="text" name="idInput" id="idInput">
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="searchUser()">Search</button>
  </div>
  <table class="table table-striped">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Designation</th>
    <th>Team Name</th>
    <th>Operations</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.designation}}</td>
      <td>{{user.teamName}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
        <button class="btn btn-primary" (click)="updateUser(user)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
