<div class="container" style="margin: 50px;">

  <form (ngSubmit)="processForm()">
    <!--<div *ngIf="(name.errors.required || id.errors.required)"-->
         <!--class="alert alert-danger">-->
      <!--All the fields are required-->
    <!--</div>-->
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" name="id" class="form-control" [(ngModel)]="user.id">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="user.name">
    </div>

    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" name="designation" class="form-control" [(ngModel)]="user.designation">
    </div>

    <div class="form-group">
      <label for="teamName">Team Name</label>
      <input type="text" name="teamName" class="form-control" [(ngModel)]="user.teamName">
    </div>
    <input type="submit" value="Save" class="btn btn-success">
    <input type="button" value="Cancel" class="btn btn-danger" (click)="goBack()">
  </form>

</div>
